// PROJECTS
.projects {
  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    &--item {
      flex: 0 0 31%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px black solid;
      padding: 20px;
      box-shadow: 1px 1px 10px grey;
      background: white;
      img {
        width: 100%;
        height: auto;
      }
      .button {
        margin-bottom: 30px;
        text-align: center;
      }
      h3 {
        font-weight: 700;
      }
    }
  }
  &__more {
    text-align: right;
    margin-top: 20px;
    a {
      padding: 20px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.6rem;
    }
  }
}

// BLOG
.blog {
  .display-medium-owl-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .display-medium-item {
      flex: 0 0 30%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
  }
  .display-medium-title {
    font-size: 1.8rem;
    border-bottom: none !important;
    margin: 0;
  }
}

// TESTIMONIALS
.testimonial {
  color: $blackcol;
  background: $golddarkcol;
  width: 100%;
  h3 {
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
  }
  p {
    font-weight: 300;
    font-size: 14px;
  }
  a {
    color: black;
  }
  .quote {
    width: 100%;
    padding: 20px 0;
    &--item {
      margin: 0 auto;
      width: 60%;
      &__icon {
        position: relative;
        padding-top: 20px;
        &:before {
          content: "\f10d";
          font-family: FontAwesome;
          color: #000;
          opacity: 0.3;
          font-size: 3rem;
          position: absolute;
          left: -30px;
        }
      }
    }
  }
}

// CONTACT
label {
  font-size: 1.4rem;
  color: $goldlightcol;
  font-weight: 700;
}

input, textarea {
  border: $whitecol solid 2px;
  background: $blackcol;
  color: $whitecol;
  margin: 5px 0;
  &:focus {
    background: $goldlightcol;
    outline: none;
    color: $blackcol;
    font-size: 1.4rem;
  }
}

input[type=text], input[type=email] {
  width: 100%;
  height: 35px;
  margin-right: 5px;
}

input[type=submit] {
  display: inline-block;
  color: $blackcol;
  background: $whitecol;
  width: 40%;
  text-align: center;
  float: right;
  font-size: 1.4rem;
  font-weight: 700;
  transition: ease background 0.3s;
  &:hover {
    background: $goldlightcol;
  }
}

textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  vertical-align: top;
}
::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
  color: $whitecol;
}
::-moz-input-placeholder, ::-moz-textarea-placeholder {
  color: $whitecol;
}
:-moz-input-placeholder, :-moz-textarea-placeholder {
  color: $whitecol;
}
:-ms-input-placeholder, :-ms-textarea-placeholder {
  color: $whitecol;
}
