

$golddarkcol : #C0A16A;
$goldlightcol : #E1BB79;
$blackcol : #000; 
$whitecol : #fff;
$lightcol : #f6f7f8;

//  font-family: 'Open Sans', sans-serif;

$basicfont: 'Open Sans', sans-serif;
$headerfont: 'Open Sans', sans-serif;

$basefontsize: 14px;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


